<div class="container" >
  
    <div class="col-md-12">
      
      <h2 class="white text-center">Citizens</h2>
      <hr/>
      <h4 class="white opensans">Every great city needs its citizens. They help out with building the
cities once they trust you enough. Each citizen grants new cities with a profit bonus. But the catch is that you won't get their help until
you start a new city, where they will move to. It might seem tedious,
but is very much worth it.</h4>
      
      <br/>
      <div ng-if="curCitizens == 0 && availableCitizens >= 10">
        <h3 class="white text-center opensans bold"><i class="fa fa-exclamation-circle" style="color: #FF0000"></i> You should really consider starting a new city</h3>
        <h4 class="white text-center opensans">With the help from your citizens, a new city will be {{ availableCitizens * 2 }}% faster than your current one.</h4>
      </div>
      <br/>
      <div class="col-md-12">
        <div class="card-wrapper" >
          <div class="card bigcard">
            <div class="icon-block text-center normalcursor">
              
                <i class="fa faicon fa-users"></i>
                <div class="buildtext" style="margin-top:7px;">{{ citizenHelp + citizenExtraHelp.amount | number : 2 }}% bonus<br/>per citizen</div>
            </div>
            <div class="content-block" >
               
                
                <div class="cardtext">
                    <h3>Current Citizens helping out</h3>
                    <h4>{{ curCitizens | megaNumber:powerNames:settings.scientificNumbers }}</h4>
                    
                    <h3>Upcoming helping Citizens</h3>
                    <h4>{{ availableCitizens | megaNumber:powerNames:settings.scientificNumbers }} <span ng-if="curCitizens > 0" class="opensans">({{ Math.round((availableCitizens / curCitizens)*100) | megaNumber:powerNames:settings.scientificNumbers }}% of your current citizens)</span></h4>
                </div>
                
                <div class="cardbuttons">
                
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group tooltips" role="group">
                        <button type="button" class="btn btn-default luckiest" data-toggle="modal" data-target="#restartModal" ng-disabled="!citizenExtraHelp.allowRestart">Start new city</button>
                        <span ng-if="!citizenExtraHelp.allowRestart && availableCitizens > 0" style="height: 60px; width:450px; left: 40%;">You'll need another {{ (curCitizens * 0.5) - availableCitizens | megaNumber:powerNames:settings.scientificNumbers }} citizens<br/> to start a new city</span>
                        <span ng-if="!citizenExtraHelp.allowRestart && availableCitizens == 0" style="height: 60px; width:450px; left: 40%;">You need citizens to be able to start a new city. You'll gain citizens by earning a lot of cash!</span>
                      </div>
                      
                    </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
        
        

        <div class="col-md-12">
     
          <div class="text-center">
              <div class="row">
                <h4 class="white">Choose your specialization for when you restart your city</h4>
                <hr/>
                <div ng-if="!politicsBoost.allowPoliticsBoost || politicsBoost.allowPoliticsBoost == undefined" class="white"><i>Specialization is currently locked. You need to open it up by obtaining the level 3 strategy under the Politics tab.</i><br/><br/>   </div>
                <div ng-if="politicsBoost.allowPoliticsBoost" class="white">These values are activated once you start a new city<br/><br/>   </div>
                
                <!--<h2 class="white text-center">Political Ideology</h2>
                <hr/>
                <h4 class="white opensans">Your ideology determines how your city will be run and the happiness of your citizens. To the left, you gain more citizens, but your profit will be lower. If your politics is to the right your profits will go up, but you will not gain citizens as fast. However, this option is not available until all your politicians has been hired. Also, you can only use this setting once per new city.</h4><br/>-->
                <div>
                  <div class='sliderText'>
                      <p id="slidertext1" class="white luckiest">More Citizens<br/> less profits</p>
                      <p id="slidertext2" ng-hide="checkIdeology()" class="red luckiest"><br/>LOCKED</p>
                      <p id="slidertext2" ng-hide="!checkIdeology()" class="white luckiest"><br/>Current active bonus: {{ (politicsIdeology.value) * 100 | number: 1 }}% profits, {{ ((politicsIdeology.value * -1) * 100) | number: 1 }}% citizens</p>
                      <p id="slidertext3" class="white luckiest">More Profits<br/> fewer citizens</p>
                  </div>
                  <input type="range" max="0.10" min="-0.10" step="0.001" class="slider" ng-model="politicsIdeology.sliderValue" name="politicsSlider" ng-change="changePoliticsIdeology(politicsIdeology.sliderValue)" ng-disabled="!checkIdeology()"/>
                  <div class='sliderText'>
                      <p id="slidertext1" class="white luckiest">{{ ((politicsIdeology.sliderValue * -1) * 100) | number: 1 }}%</p>
                      <p id="slidertext3" class="white luckiest">{{ (politicsIdeology.sliderValue) * 100 | number: 1 }}%</p>
                  </div>
                </div>
                <div class="text-center">
                  <!--<button class="btn" ng-click="setPoliticsIdeology()" ng-show="checkIdeology()" ng-disabled="politicsIdeology.valueSet">Set Ideology</button>-->
                  <!--<button class="btn" ng-click="changePoliticsIdeology(0)" ng-show="checkIdeology()">Reset Ideology</button>-->
                  <br/><br/>
                </div>
                
                <div class="col-xs-4 col-sm-4">
                  
                  <div ng-class="{transparent: politicsBoost.upcomingTransportMultiplier <= 1}">
                  <p class="boostButton white pull-right" ng-click="changePoliticsBoost('transport')" ng-class="politicsBoost.allowPoliticsBoost && politicsBoost.allowPoliticsBoost != undefined ? '' : 'disabled'">
                    <strong>
                      <span>+20% Transport<br/><br/>
                      -10% Civilian<br/>
                      -10% Business</span>
                    </strong>
                  </p>
                  </div>
                  <h4 class="white opensans bold pull-right" ng-if="politicsBoost.transportMultiplier > 1">CURRENTLY ACTIVE</h4>
                </div>
                <div class="col-xs-4 col-sm-4">
                  <div ng-class="{transparent: politicsBoost.upcomingCivilianMultiplier <= 1}">
                    <p class="boostButton text-center white center-block" ng-click="changePoliticsBoost('civilian')" ng-class="!politicsBoost.allowPoliticsBoost || politicsBoost.allowPoliticsBoost == undefined ? 'disabled' : ''">
                      <strong>
                        <span>+20% Civilian<br/><br/>
                        -10% Transport<br/>
                        -10% Business</span>
                      </strong>
                    </p>
                  </div>
                  <h4 class="white opensans bold" ng-if="politicsBoost.civilianMultiplier > 1">CURRENTLY ACTIVE</h4>
                </div>
                <div class="col-xs-4 col-sm-4">
                  <div ng-class="{transparent: politicsBoost.upcomingBusinessMultiplier <= 1}">
                  <p class="boostButton text-center white pull-left" ng-click="changePoliticsBoost('business')" ng-class="!politicsBoost.allowPoliticsBoost || politicsBoost.allowPoliticsBoost == undefined ? 'disabled' : ''">
                    <strong>
                      <span>+20% Business<br/><br/>
                      -15% Transport<br/>
                      -15% Civilian</span>
                    </strong>
                  </p>
                  </div>
                  <h4 class="white opensans bold pull-left" ng-if="politicsBoost.businessMultiplier > 1">CURRENTLY ACTIVE</h4>
                </div>
              </div>
            
              <h4 class="white">or...</h4>
              <button class="btn" ng-click="changePoliticsBoost()" ng-class="!politicsBoost.allowPoliticsBoost || politicsBoost.allowPoliticsBoost == undefined ? 'disabled' : ''">None of the above</button>
              <h4 class="white opensans bold" ng-if="politicsBoost.transportMultiplier == 1 && politicsBoost.civilianMultiplier == 1 && politicsBoost.businessMultiplier == 1">CURRENTLY ACTIVE</h4>
          </div>
        </div>
      
    </div>

<!-- Modal -->
<div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Start New City</h4>
      </div>
      <div class="modal-body">
        <strong>WARNING!</strong> You will leave your current city behind, but you will get to keep the citizens to help you out and the coins you earned. After the restart you'll have additional {{ availableCitizens | megaNumber:powerNames:settings.scientificNumbers }} citizens to help you out, giving 2% in bonus each, at the start.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary luckiest" data-dismiss="modal" ng-click="softReset()">Restart City</button>
      </div>
    </div>
  </div>
</div>
    
    
    <div class="col-md-12">
      <br/><br/>
      <h2 class="white text-center">Citizen upgrades</h2>
      <hr/>
      <h4 class="white opensans text-center">Sacrifice some of your citizens for the greater good. But remember: You will lose those citizens you sacrifice.</h4>
      <br/><br/>
      
      <div class="col-md-12" ng-repeat="citizenUpgrade in citizensUpgradesMeta">
          <div class="card-wrapper" ng-if="!isInArray(citizensUpgrades, citizenUpgrade.id)">
            <!--<div class="card-wrapper" ng-if="upgrades[$index].owned == false">-->
            <div class="card">
              <div class="icon-block normalcursor text-center icon-block-pol">
                
                  <i class="fa faicon fa-users" ng-class="curCitizens < citizenUpgrade.cost ? 'icon-disabled' : ''"></i>
                  
                  
              </div>
              <div class="content-block">
                 
                  
                  <div class="cardtext">
                      <h2>{{ citizenUpgrade.name }}</h2>
                      {{ citizenUpgrade.desc }}
                      <h4>Cost: {{ citizenUpgrade.cost | megaNumber:powerNames:settings.scientificNumbers }} citizens</h4>

                  </div>
                  
                  <div class="cardbuttons">
                  
                      <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-default luckiest" ng-disabled="curCitizens < citizenUpgrade.cost" ng-click="getCitizenUpgrade(citizenUpgrade, $index)">购买升级</button>
                        </div>
                        
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      
      
    </div>
    
</div>